doctype html
html(lang='en')
    head
        meta(http-equiv='content-type' content='text/html;charset=UTF-8')
        meta(name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')

        title Docs

        link(rel='apple-touch-icon' sizes='180x180' href='../images/favicons/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='../images/favicons/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='../images/favicons/favicon-16x16.png')
        link(rel='manifest' href='../images/favicons/manifest.json')
        link(rel='mask-icon' href='../images/favicons/safari-pinned-tab.svg' color='#050505')
        meta(name='theme-color' content='#ffffff')

        link(rel='prefetch' href='../js/muilessium.min.js?v='      + pkg.version)
        link(rel='prefetch' href='../js/muilessium-ui.min.js?v='   + pkg.version)
        link(rel='prefetch' href='../js/main.min.js?v='            + pkg.version)
        link(rel='prefetch' href='../css/muilessium-ui.min.css?v=' + pkg.version)
        link(rel='prefetch' href='../css/main.min.css?v='          + pkg.version)

    body
        .mui-scroll-fix

        header.mui-page-header
            .mui-content-container
                .mui-header-logo._left
                    img.mui-image.-docs.-logo.-circle.-js-lazy-load(data-src='../images/favicon/android-chrome-192x192.png' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='logo')
                    noscript
                        img.mui-image.-docs.-logo.-circle(src='../images/favicon/android-chrome-192x192.png' alt='logo')
                    a.link._right(href='../')
                        h1.heading._bigger-0._line-4r
                            span Earthquakes Map &nbsp;
                            span._smaller-2 v#{ pkg.version }

        .mui-content-container
            aside.mui-column.-s12.-m3._right
                .aside-navigation._smaller-1._line-1-25._separate-3(role='navigation')
                    ul.mui-list.-no-bullets._separate-1
                        li.item: a(href='#overview') Overview
                        li.item: a(href='#coding-conventions') Coding conventions
                    hr._separate-1
                    ul.mui-list.-no-bullets._separate-1
                        each file in files
                            each block in file.blocks
                                li.item: a(href='#' + file.file) #{ block.name }
 
            main.mui-column.-s12.-m9
                .mui-content-container
                    ._separate-3
                        .mui-row
                            a(href='#overview')
                                h2._bigger-2#overview Overview
                        p.mui-p._separate-1 Project description...
                    ._separate-3
                        .mui-row
                            a(href='#coding-conventions')
                                h2._bigger-2#coding-conventions Coding conventions
                        h3._bigger-0._separate-1 JS
                        ol.mui-list._separate-1
                            li.item Always store components in separate directories
                            li.item
                                span Use Muilessium shortcuts in components:
                                ul.mui-list
                                    li.item $ = window.Muilessium
                                    li.item _ = window.Muilessium.UTILS
                            li.item Don't use Muilessium shortcuts in the utilities and modules, use imports instead.
                            li.item Always create wrappers for dependencies and polyfills.
                            li.item Register utilities, dependencies, polyfills, modules and components to the Muilessium using their index files.
                            li.item Use "if" statements and the __DEBUG__ variable to wrap code for debugging.
                        h3._bigger-0._separate-1 LESS
                        ol.mui-list._separate-1
                            li.item Use RSCSS.
                            li.item Only helpers can include the !importnant rules.
                            li.item Component names should be transformed to slug case with global prefix. For example: "MyComponent" (js) -&gt; .ui-my-component (less).
                            li.item Prefer to use the color-scheme for all components.
                            li.item Use constants for standard sizes, animation-functions, times etc.
                            li.item Use normalize-ext for global styles and styles for tags.
                    ._separate-5
                        each file in files
                            div._allow-empty(id=file.file)
                            each block in file.blocks
                                ._separate-5
                                    .mui-row
                                        a(href='#' + file.file)
                                            h4._bigger-1 #{ block.name }
                                    ._smaller-2.-grey-3 #{ file.file }
                                    if block.description
                                        p.mui-p._separate-1 #{ block.description }
                                    if block.component
                                        ._separate-1._smaller-1
                                            span.-green-3: b (!) #{ block.component }
                                            span.-grey-3 &nbsp;- Use Muilessium.get('#{ block.component }', id) to get it.
                                    if block.method
                                        ._separate-1
                                            ul.mui-list._smaller-1
                                                each _method in (Array.isArray(block.method) ? block.method : [block.method])
                                                    li.item
                                                        span #{ _method.name }
                                                        if _method.description
                                                            span.-grey-3 &nbsp;- #{ _method.description }
                                    if block.event
                                        each _event in (Array.isArray(block.event) ? block.event : [block.event])
                                            ._smaller-1
                                                span.-green-3 Event: #{ _event }
                                                span.-grey-3 &nbsp;- Use #{ component }.addEventListener('#{ _event }', (state) => { /* . . . */ }) to subscribe.
                                    if block.requires
                                        each _requires in (Array.isArray(block.requires) ? block.requires : [block.requires])
                                            ._smaller-1.-violet-3 Requires #{ _requires }
                                    if block.markup
                                        ._separate-1
                                            .component-preview._separate-2 !{ block.markup.compiled }
                                            if block.state
                                                each _state in (Array.isArray(block.state) ? block.state : [block.state])
                                                    .state._separate-2
                                                        h5._smaller-1 Variant: #{ _state.name }
                                                        .example._separate-2(data-class=_state.name) !{ block.markup.compiled }
                                            .mui-spoiler.-max-height-20
                                                .title Source code (Pug)
                                                .content
                                                    ._separate-2
                                                        ._smaller-1
                                                            pre.source-code #{ block.markup.example }
                                            .mui-spoiler.-max-height-20
                                                .title Source code (HTML)
                                                .content
                                                    ._separate-2
                                                        ._smaller-1
                                                            pre.source-code #{ block.markup.compiled }

        .mui-page-footer
            span Copyright &copy; Ivan Bogachev, 2019

        .mui-svg-sprite
            svg(version='1.1' xmlns='http://www.w3.org/2000/svg')
                symbol#mui-svg-icon--check(viewbox='0 0 512 512')
                  path(d='M186.301 339.893L96 249.461l-32 30.507L186.301 402 448 140.506 416 110z')
                symbol#mui-svg-icon--close(viewbox='0 0 512 512')
                  path(d='M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z')
                symbol#mui-svg-icon--arrow-down(viewbox='0 0 512 512')
                  path(d='M277.375 85v259.704l119.702-119.702L427 256 256 427 85 256l29.924-29.922 119.701 118.626V85h42.75z')
                symbol#mui-svg-icon--arrow-right(viewbox='0 0 512 512')
                  path(d='M85 277.375h259.704L225.002 397.077 256 427l171-171L256 85l-29.922 29.924 118.626 119.701H85v42.75z')
                symbol#mui-svg-icon--arrow-left(viewbox='0 0 512 512')
                  path(d='M427 234.625H167.296l119.702-119.702L256 85 85 256l171 171 29.922-29.924-118.626-119.701H427v-42.75z')
                symbol#mui-svg-icon--arrow-up(viewbox='0 0 512 512')
                  path(d='M277.375 427V167.296l119.702 119.702L427 256 256 85 85 256l29.924 29.922 119.701-118.626V427h42.75z')
                symbol#mui-svg-icon--star(viewbox='0 0 512 512')
                  path(d='M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z')
                symbol#mui-svg-icon--hamburger(viewbox='0 0 512 512')
                  path(d='M64 384h384v-42.666H64V384zm0-106.666h384v-42.667H64v42.667zM64 128v42.665h384V128H64z')
                symbol#mui-svg-icon--spinner(viewbox='0 0 512 512')
                  path(d='M256 48c-75.033 0-144.531 40.658-181.373 106.107l-1.963 3.485 20.915 11.771 1.962-3.485C128.138 107.973 189.621 72 256 72c101.458 0 184 82.542 184 184a185.48 185.48 0 0 1-3.749 37.147l-.803 3.918 23.511 4.819.804-3.919A209.53 209.53 0 0 0 464 256c0-114.691-93.309-208-208-208zM416.459 346.119C383.862 404.027 322.379 440 256 440c-101.458 0-184-82.542-184-184 0-12.512 1.262-25.011 3.75-37.15l.803-3.918-23.511-4.819-.804 3.918A209.445 209.445 0 0 0 48 256c0 114.691 93.309 208 208 208 75.033 0 144.531-40.658 181.373-106.109l1.963-3.485-20.915-11.771-1.962 3.484z')
                  path(d='M384 256l64 64 64-64zM0 256l64-64 64 64z')
                symbol#mui-svg-icon--tags(viewbox='0 0 512 512')
                  path(d='M472 239.2s-.1 0 0 0L282.1 48.1l-1.4-1.4h-.5c-7.5-7.2-16.1-10.9-27.1-11.1l-89.9-3.3-3.9-.1c-10.1.1-20 4.1-27.7 11.8l-27.1 27.2c7.4-6.6 16.6-10 26-10.1l3.8.1 89.8 3.3c11 .2 19.7 3.9 27.2 11.1h.5l1.4 1.4L443 268.1c10 10.8 10.7 28.2 0 38.9l29-28.9c10.6-10.7 10-28.1 0-38.9z')
                  path(d='M428 282.5h.3L238.6 91.4l-1.3-1.4h-.3c-7.5-7.2-15.9-10.9-26.9-11.1L120 75.6l-4-.1c-9.2.1-18.2 3.4-25.6 9.8-.3.3-.7.6-1 .9l-1.2 1.2-44.3 44.5C35.8 140 32 150.8 32 161.4v.1l.1 3.8 5.9 87.9v1.9c1 7.9 4.2 15.6 9.6 22l5.1 4.9L239 470.4l2.8 2.8c10.7 9.4 27.1 9 37.3-1.3l13.1-13.2c.5-.4.9-.8 1.4-1.3l26.9-27c-.2.1-.3.2-.5.4l108.3-109.3c10.6-10.7 10.7-28.2-.3-39zm-317.4-143c6.6-4 14.3-6.3 22.6-6.3 23.9 0 43.4 19.4 43.4 43.4 0 8.3-2.3 16-6.3 22.6-7.6 12.5-21.3 20.8-37 20.8-23.9 0-43.4-19.4-43.4-43.4-.1-15.8 8.2-29.5 20.7-37.1z')


        link(rel='stylesheet' href='../css/muilessium-ui.min.css?v=' + pkg.version)
        link(rel='stylesheet' href='../css/main.min.css?v='          + pkg.version)

        style.
            @media screen and (max-width: 600px) {
                aside {
                    display: none !important;
                }
            }

            a,
            a:visited {
                color: #1565c0;
            }

            a:hover,
            a:focus {
                color: #000000;
            }

            body {
                overflow: auto !important;
            }

            .mui-image.-docs.-logo {
                float: left;
                display: inline-block;
                height: 3rem;
                width: 3rem;
                margin: .5rem 1rem .5rem 0;
            }

            .mui-p.-docs.-hint {
                padding: 1rem;
            }

            .component-preview:after {
                content: '';
                display: table;
                clear: both;
            }

            .component-preview > .mui-button {
                margin: 0 1rem 1rem 0;
            }

            .component-preview .mui-header-logo {
                padding-left: 1rem;
            }

            .component-preview .mui-ribbon-wrapper {
                height: 10rem;
                background: #4caf50;
            }

            .component-preview .mui-ribbon-wrapper + .mui-ribbon-wrapper {
                margin-top: 1rem;
            }


            .aside-navigation {
                padding: 0 1rem;
            }

            .grid-preview .mui-column {
                margin-top: .5rem;
            }

            .grid-preview .mui-column:first-of-type {
                border-right: 2px solid #fff;
            }

            .source-code {
                background: #eeeeee;
                font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
                font-size: .7rem;
                padding: 1rem;
                white-space: pre-wrap;
                word-wrap: break-word;
                border-left: 3px solid #9e9e9e;
            }

            .color-preview {
                width: 100%;
                height: 2rem;
                padding: 0 1rem;
                line-height: 2rem;
            }


        script(src='../js/muilessium.min.js?v='    + pkg.version)
        script(src='../js/muilessium-ui.min.js?v=' + pkg.version)
        script(src='../js/main.min.js?v='          + pkg.version)

        script.
            document.addEventListener('DOMContentLoaded', function() {
                var _ = Muilessium.UTILS;

                function initExamples() {
                    _.forEach(document.querySelectorAll('.state .example'), function(example) {
                        var stateClass = _.getAttribute(example, 'data-class'),
                            targetChild = 0;

                        if (example.childNodes[1] && (example.childNodes[1].nodeType !== Node.TEXT_NODE)) {
                            targetChild = 1;
                        }

                        _.addClass(example.childNodes[targetChild], stateClass);
                    });
                }

                initExamples();
            });

